* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-style: italic;
    background-color: #c1b8c1;
    font-weight: bold;
}

h1 {
    color: #ffffff;
    margin-right: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 3px 2px 4px black;
    display: inline-block;
}

h1:hover {
    color: #837e83;
    font-size: 40px;
}

header {
    background-color: #514653;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
}

.navigation {
    display: flex;
    justify-content: end;
    margin-top: 5px;
}

.navigation .navchoices {
    display: flex;
    border: solid rgb(123, 123, 123);
    box-shadow: 3px 2px 4px rgb(165, 159, 159), -3px -2px 4px rgb(165, 159, 159);
}

.navigation .navchoices a {
    color: #ffffff;
    display: block;
    text-decoration: none;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
}

.navigation .navchoices li {
    list-style: none;
}

.navigation .navchoices li:hover {
    background-color: aqua;
}

.navigation .navchoices a:hover {
    font-style: italic;
    font-size: 1.2em;
    text-decoration: underline;
}

.home {
    background-color: #dbd8db;
}

main {
    margin-top: 150px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    justify-items: center;
    grid-template-areas:
    "about-part image-part"
    "skills-part goals-part"
    "experience-part experience-part";
}

.home {
    display: grid;
    margin: 30px;
}

#about {
    text-align: center;
    font-size: 3em;
}

img {
    border-radius: 20px;
    height: 300px;
    width: 350px;
    box-shadow: 5px 4px 4px white, -5px -4px 4px white;
}

.image img:hover {
    animation: shrink;
    animation-duration: 5s;
}

.home p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
    margin-inline: 50px;
}

/* Skills section */

.skills {
    background-color: #807c80;
    text-align: center;
}

.skills h2 {
    font-size: 3em;
}

.skills .learnt {
    display: inline-block;
    margin-top: 10px;
    font-style: normal;
    line-height: 1.5em;
}

.skills .learnt li:hover{
    background-color: #d9f4a5;
}

/* Goals section */

.goals {
    margin-top: 30px;
    background-color: #988b8b;
    text-align: center;
}

.goals h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.goals ul {
    font-style: normal;
    display: inline-block;
    line-height: 1.5em;
}

.goals .goals-list #languages li{
    list-style: inside;
    list-style-type:circle;
}

.goals .goals-list li:hover {
    background-color: rgb(9, 219, 100);
}

.goals .goals-list ol li:hover {
    background-color: #47ea86;
}

/* Experience section */

.exp-section {
    background-color: #d0cbd0;
    margin-top: 20px;
    text-align: center;
    margin: auto;
}

.exp-section h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.exp-section p {
    margin-inline: 30px;
    font-weight: normal;
}

.exp-section .exp-list {
    display: inline-block;
    font-style: normal;
    line-height: 1.5em;
}

/* footer */

.contact {
    padding: 50px;
    background-color: #514653;
    text-align: center;
}

.contact p {
    color: #ffffff;
    font-size: 1.5em;
    font-style: normal;
}

.contact a {
    color: #25ea25;
    font-style: normal;
    font-weight: normal;
}

@keyframes shrink {
    50%{box-shadow: 3px 3px 4px #00ff2a, -3px -3px 4px #00ff2a;}
}

@media(max-width: 1024px) {
    main {
        grid-template-areas: 
        "about-part about-part"
        "skills-part image-part"
        "goals-part goals-part"
        "experience-part experience-part";
    }

    .image img{
        margin-top: 20px;
    }
}

@media(max-width: 768px) {
    main {
        grid-template-areas: 
        "about-part"
        "image-part"
        "skills-part"
        "goals-part"
        "experience-part";
    }
}

/* There six media  I will use :
used one: 1024px and 768px.
unsed one: 475px, 640px, 1280px, and 1536px.
*/