*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

:root{
    --text-color: #ffffff;
    counter-reset: headings;
    --border-radius: 10px;
}

h2 {
    counter-increment: headings;
}

h2::before {
    content: counter(headings) ". ";
}

body {
    background-color: #c1b8c1;
}

/* Header and navigation bar */
h1 {
    color: var(--text-color);
    margin-right: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 3px 2px 4px black;
    display: inline-block;
    font-size: clamp(2rem, calc(7vh + 1rem), 2.5rem); 
}

h1:hover {
    color: #837e83;
}

header {
    background-color: #514653;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
}

.navigation {
    display: flex;
    justify-content: end;
    margin-top: 5px;
}

.navigation .navchoices {
    font-weight: bold;
    display: flex;
    border: solid rgb(123, 123, 123);
    box-shadow: 3px 2px 4px rgb(165, 159, 159), -3px -2px 4px rgb(165, 159, 159);
}

.navigation .navchoices a {
    color: var(--text-color);
    display: block;
    text-decoration: none;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
}

.navigation .navchoices li {
    list-style: none;
}

.navigation .navchoices li:hover {
    background-color: #00ffff;
}

.navigation .navchoices a:hover {
    font-style: italic;
    font-size: 1.2em;
    text-decoration: underline;
}

/* Main content sections */
img {
    width: 60%;
    border-radius: var(--border-radius);
    height: auto;
}

main {
    text-align: center;
    margin: auto;
    margin-top: 120px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    display: grid;
    grid-template-areas: 
    "about-part about-part"
    "skills-part skills-part"
    "goals-part experience-part";
}

/* Home section */
.home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #dbd8db;
}

.home #description-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home #description-div p {
    margin: 20px;
    font-size: clamp(1.2rem, 5vh, 1.5rem);
    color: #333232;
    text-align: left;
}

.home #home-div-image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: min(0.6rem, 5vh);
}

/* Skills section */

/* Goals section */

/* Experience section */


/* footer */

.contact {
    padding: min(5rem, 8vh);
    background-color: #514653;
    text-align: center;
}

.contact p {
    color: #ffffff;
    font-size: 1.5em;
    margin-block: 5px;
}

.contact a {
    color: #25ea25;
}

@keyframes shrink {
    50%{box-shadow: 3px 3px 4px #00ff2a, -3px -3px 4px #00ff2a;}
}

/* Responsive design */

/* @media(max-width: 1536px) {
    main {
        max-width: 1280px;
    }

    .image img{
        margin-top: 20px;
    }
}

@media(max-width: 1280px) {
    main {
        max-width: 1024px;
        grid-template-areas: 
        "about-part about-part"
        "skills-part image-part"
        "goals-part goals-part"
        "experience-part experience-part";
    }

    .image img{
        aspect-ratio: 1/1;
    }
}

@media(max-width: 1024px) {
    main {
        max-width: 768px;
        grid-template-areas:
        "about-part"
        "skills-part image-part"
        "goals-part"
        "experience-part";
    }

    .image img{
        width: 90%;
    }
}

@media(max-width: 768px) {
    main {
        max-width: 640px;
        grid-template-areas:
        "about-part"
        "image-part"
        "skills-part"
        "goals-part"
        "experience-part";
    }

    .image img{
        width: 90%;
        aspect-ratio: 16/9;
    }

    .skills,
    .exp-section{
        margin-top: 20px;
    }
}

@media(max-width: 640px) {
    main {
        max-width: 475px;
        aspect-ratio: 1/1;
    }

    .contact {
        margin-top: 20px;
    }
}

@media(max-width: 475px) {
    .skills,
    .goals {
        max-width: 80%;
    }
} */