*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

:root{
    --text-color: #ffffff;
    counter-reset: headings;
    --border-radius: 10px;
}

h2 {
    counter-increment: headings;
    font-size: clamp(1.5rem, 5vh, 2rem);
}

h2::before {
    content: counter(headings) ". ";
}

body {
    background-color: #c1b8c1;
}

/* Header and navigation bar */
h1 {
    color: var(--text-color);
    margin-right: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 3px 2px 4px black;
    display: inline-block;
    font-size: clamp(2rem, calc(7vh + 1rem), 2.5rem); 
}

h1:hover {
    color: #837e83;
}

header {
    background-color: #514653;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 9999;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.navigation {
    display: flex;
    justify-content: end;
    margin-top: 5px;
    border: solid rgb(123, 123, 123);
    box-shadow: 3px 2px 4px rgb(165, 159, 159), -3px -2px 4px rgb(165, 159, 159);
}

.navigation .navchoices {
    font-weight: bold;
    display: flex;
}

.navigation .navchoices li a ,
.navigation .sidebarNavchoices li a{
    color: var(--text-color);
    display: block;
    text-decoration: none;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
}

.navigation .navchoices li,
.navigation .sidebarNavchoices li {
    list-style: none;
}

.navigation .navchoices a:hover,
.navigation .sidebarNavchoices a:hover {
    background-color: #68536c;
    font-style: italic;
    font-size: 1.2em;
    text-decoration: underline;
}

.navigation .navchoices li #menu-image,
.navigation .sidebarNavchoices li #close-menu-image {
    color: var(--text-color);
    box-shadow: none;
    width: 30px
}

.navigation .navchoices .menu-button {
    display: none;
}

/* side bar navigation */
.navigation .sidebarNavchoices {
    display: none;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    z-index: 999;
    background-color: #474148;
    backdrop-filter: blur(10px);
    border: solid rgb(123, 123, 123);
    box-shadow: 3px 2px 4px rgb(165, 159, 159), -3px -2px 4px rgb(165, 159, 159);
}

/* Main content sections */
main {
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    display: grid;
    grid-template-areas: 
    "about-part about-part"
    "skills-part skills-part"
    "goals-part goals-part"
    "experience-part experience-part";
}

section:not(.goals) div {
    translate: -100%;
    opacity: 0;
    transition: 1500ms ease;
}

section:not(.goals) div.show {
    translate: 0;
    opacity: 1;
}

img {
    --border-radius: 50px;
    width: 70%;
    height: auto;
    box-shadow: 5px 4px 4px rgb(139, 137, 137), -5px -4px 4px rgb(255, 255, 255);
}

.home,
.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.home,
.skills,
.goals,
.exp-section {
    margin-bottom: 15px;
    width: 90%;
    border-radius: var(--border-radius);
}

.skills .learnt,
.goals .tech-goals-list,
.goals .projects-goals-list,
.goals .other-goals-list,
.exp-section .exp-list {
    display: inline-block;
    margin-top: 10px;
    line-height: 1.5rem;
}

.home #home-div-image,
.skills #skills-div-image {
    padding: min(0.6rem, 5vh);
    display: sticky;
    justify-content: center;
    align-items: center;
}

/* Home section */
.home {
    background-color: #dbd8db;
}

.home #description-div{
    border-left: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home #description-div p {
    margin: 15px;
    font-size: clamp(1.2rem, 5vh, 1.5rem);
    color: #333232;
    text-align: left;
    font-size: clamp(1.2rem, 5vh, 1.5rem);
}

/* Skills section */
.skills {
    background-color: #b6b5b6;
}

.skills #skills-div {
    border-right: solid;
}

.skills #skills-div li:hover {
    background-color: #01aaf8;
}

/* Goals section */
.goals {
    background-color: #dbd8db;
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "goals-intro goals-intro goals-intro"
    "tech-goals projects-goals other-goals";
}

.goals .tech-goals-list li:hover{
    background-color: #00ff2a;
}

.goals .projects-goals-list li:hover{
    background-color: #ffae00;
}

.goals .other-goals-list li:hover{
    background-color: #00f7ff;
}

.goals div:not(#intro-goals) {
    scale: 0;
    opacity: 0;
    transform: rotate(-180deg);
    transition: 500ms ease;
    transition-delay: 300ms;
}

.goals div.rotate:not(#intro-goals) {
    scale: 1;
    transform: rotate(0);
    opacity: 1;
}

/* Experience section */
.exp-section {
    background-color: #dfd6df;
}

.exp-section .exp-list span {
    color: #f8016c;
}

.exp-list li:hover {
    background-color: #f8f801;
}


/* footer */

.contact {
    padding: min(5rem, 8vh);
    background-color: #514653;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.contact p {
    color: #ffffff;
    font-size: 1.5em;
    margin-block: 5px;
}

.contact a {
    color: #25ea25;
}

/* Responsive design */

@media(max-width: 1536px) {}

@media(max-width: 1280px) {}

@media(max-width: 1024px) {
    .home #home-div-image,
    .skills #skills-div-image {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .skills img {
        width: 90%;
    }

    .goals {
        grid-template-areas: 
        "goals-intro goals-intro"
        "tech-goals projects-goals"
        "other-goals other-goals";
    }
}

@media(max-width: 768px) {
    .home img {
        width: 90%;
    }

    .skills img{
        aspect-ratio: 1/1;
    }

    .navigation .navchoices .menu-button {
        display: block;
    }

    .hideOnMobile {
        display: none;
    }
}

@media(max-width: 640px) {
    .home,
    .skills,
    .goals,
    .exp-section {
        width: 80%;
    }

    .home,
    .skills {
        display: flex;
        flex-direction: column;
    }

    .home #description-div,
    .skills #skills-div {
        border-left: solid;
        border-right: solid;
    }

    .home img,
    .skills img {
        width: 65%;
    }

    .home #description-div p {
        font-size: clamp(1rem, 5vh, 1.2rem);
    }

    .goals {
        grid-template-areas:
        "goals-intro"
        "tech-goals"
        "projects-goals"
        "other-goals";
    }
}

@media(max-width: 475px) {
    .navigation .sidebarNavchoices{
        width: 100%;
    }

    .contact {
        flex-direction: column;
        gap: 20px;
    }
}