*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

:root{
    --text-color: #ffffff;
    counter-reset: headings;
    --border-radius: 10px;
}

h2 {
    counter-increment: headings;
}

h2::before {
    content: counter(headings) ". ";
}

body {
    background-color: #c1b8c1;
}

/* Header and navigation bar */
h1 {
    color: var(--text-color);
    margin-right: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 3px 2px 4px black;
    display: inline-block;
    font-size: clamp(2rem, calc(7vh + 1rem), 2.5rem); 
}

h1:hover {
    color: #837e83;
}

header {
    background-color: #514653;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
}

.navigation {
    display: flex;
    justify-content: end;
    margin-top: 5px;
}

.navigation .navchoices {
    font-weight: bold;
    display: flex;
    border: solid rgb(123, 123, 123);
    box-shadow: 3px 2px 4px rgb(165, 159, 159), -3px -2px 4px rgb(165, 159, 159);
}

.navigation .navchoices a {
    color: var(--text-color);
    display: block;
    text-decoration: none;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
}

.navigation .navchoices li {
    list-style: none;
}

.navigation .navchoices li:hover {
    background-color: #00ffff;
}

.navigation .navchoices a:hover {
    font-style: italic;
    font-size: 1.2em;
    text-decoration: underline;
}

/* Main content sections */
main {
    text-align: center;
    margin: auto;
    margin-top: 100px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    justify-items: center;
    grid-template-areas:
    "about-part image-part"
    "skills-part goals-part"
    "experience-part experience-part";
}

h2 {
    font-size: clamp(1.5rem, 10vh, 3rem);
    margin-bottom: 15px;
}

/* Applaying the same properties to skills, goals, and experience sections in main */
.skills,
.goals,
.exp-section{
    width: min(90%, 1200px);
    margin: auto;
    border-radius: var(--border-radius);
}

.skills .learnt,
.goals .goals-list,
.exp-section .exp-list {
    display: inline-block;
    line-height: 1.5rem;
    font-weight: bold;
}

.skills p,
.goals p,
.exp-section p {
    margin-bottom: 10px;
}

/* Home section */

.home {
    border-radius: var(--border-radius);
    display: grid;
    margin: 30px;
    padding: min(1rem, 5vh);
    background-color: #dbd8db;
}

.home p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: clamp(1.3rem, 5vh, 1.5rem);
    font-style: italic;
    line-height: 35px;
}

img {
    border-top: 25px;
    --border-radius: 50px;
    border-radius: var(--border-radius);
    width: 70%;
    height: auto;
    box-shadow: 5px 4px 4px rgb(139, 137, 137), -5px -4px 4px rgb(255, 255, 255);
}

.image img:hover {
    animation: shrink;
    animation-duration: 5s;
}

/* Skills section */

.skills {
    background-color: #979497;
}

.skills .learnt li:hover{
    background-color: #d9f4a5;
}

/* Goals section */

.goals {
    margin-top: 25px;
    background-color: #988b8b;
}

.goals .goals-list #languages li{
    list-style: inside;
    list-style-type:circle;
}

.goals .goals-list li:hover {
    background-color: rgb(9, 219, 100);
}

/* Experience section */

.exp-section {
    background-color: #d0cbd0;
}

.exp-section p {
    line-height: 20px;
    margin-inline: 30px;
    font-size: clamp(1rem, calc(1vh + 0.5rem), 2rem);
}

/* footer */

.contact {
    padding: min(5rem, 8vh);
    background-color: #514653;
    text-align: center;
}

.contact p {
    color: #ffffff;
    font-size: 1.5em;
}

.contact a {
    color: #25ea25;
}

@keyframes shrink {
    50%{box-shadow: 3px 3px 4px #00ff2a, -3px -3px 4px #00ff2a;}
}

/* Responsive design */

@media(max-width: 1536px) {
    main {
        max-width: 1280px;
    }

    .image img{
        margin-top: 20px;
    }
}

@media(max-width: 1280px) {
    main {
        max-width: 1024px;
        grid-template-areas: 
        "about-part about-part"
        "skills-part image-part"
        "goals-part goals-part"
        "experience-part experience-part";
    }

    .image img{
        aspect-ratio: 1/1;
    }
}

@media(max-width: 1024px) {
    main {
        max-width: 768px;
        grid-template-areas:
        "about-part"
        "skills-part image-part"
        "goals-part"
        "experience-part";
    }

    .image img{
        width: 90%;
    }
}

@media(max-width: 768px) {
    main {
        max-width: 640px;
        grid-template-areas:
        "about-part"
        "image-part"
        "skills-part"
        "goals-part"
        "experience-part";
    }

    .image img{
        width: 90%;
        aspect-ratio: 16/9;
    }

    .skills,
    .exp-section{
        margin-top: 20px;
    }
}

@media(max-width: 640px) {
    main {
        max-width: 475px;
        aspect-ratio: 1/1;
    }

    .contact {
        margin-top: 20px;
    }
}

@media(max-width: 475px) {
    .skills,
    .goals {
        max-width: 80%;
    }
}